@charset 'utf-8';

/* 기본스타일 */
/* 모바일스타일 */
*{
  box-sizing:border-box;
  font-family:Roboto,'Noto Sans KR',sans-serif;
}
.clearfix::after{content:'';display:block;clear: both;}
.wrap>.section{margin-bottom:50px;}
.container{width:100%;max-width:1280px;margin:0 auto;padding:0 40px;}

/* 스킵메뉴 */
.skip_menu{padding:10px;text-align:center;background-color:#007dc6;position:fixed;left:0;top:-59px;z-index:10;width:100%;transition:0.2s;}
.skip_menu.active{top:0;}
.skip_menu a{display:inline-block;border:1px solid #fff;padding:6px 10px;color:#fff;}
.skip_menu a:focus,.skip_menu a:hover{border-color:#000;color:#000;}

/* 해더섹션 */
.header{padding:24px 0;position:fixed;left:0;top:0;z-index:9;width:100%;border-bottom:1px solid #ccc;}
.header.active{background:#fff;}
.header_top{position:relative;z-index:9;}
.logo_box{float:left;}
.logo_box img{width:100px;}
.tgl_btn{float:right;cursor: pointer;width:40px;height:34px;}
.tgl_btn span{display:block;width:100%;height:4px;border-radius:2px;background-color:#000;margin-bottom:10px;text-indent:-99999px;overflow: hidden;transition:0.2s;}
.tgl_btn span:nth-child(3){margin-bottom:0;}
.tgl_btn.active span:nth-child(1){width:127%;transform:rotate(40deg);transform-origin:2px 2px;}
.tgl_btn.active span:nth-child(2){transform:scaleX(0);}
.tgl_btn.active span:nth-child(3){width:127%;transform:rotate(-40deg);transform-origin:2px 2px;}

.nav{position:fixed;right:-100%;top:0;width:100%;height:100%;padding:200px 40px 50px;background-color:#fff;transition:0.3s;overflow:scroll;z-index:8;}
.lang{margin-bottom:30px;border-bottom:1px solid #aaa;padding-bottom:20px;}
.lang a{padding-right:20px;font-weight:600;font-size:18px;color:#aaa;}
.lang a.active{color:#333;text-decoration:underline;}
.main_nav{border-bottom:1px solid #aaa;margin-bottom:30px;}
.main_nav>li{margin-bottom:3rem;}
.main_nav>li>a{font-size:2.2rem;display:block;position:relative;transition:0.3s;}
.main_nav>li>a::before,.main_nav>li>a::after{content:'';display:block;background-color:#000;position: absolute;transition:0.3s;}
.main_nav>li>a::before{width:24px;height:3px;right:0;top:9px;}
.main_nav>li>a::after{width:3px;height:24px;right:10px;top:0;}
.main_nav>li>a.active{color:#007dc6;}
.main_nav>li>a.active::before,.main_nav>li>a.active::after{background-color:#007dc6;}
.sub_nav{display:none;padding:20px 20px 0;}
.sub_nav li{margin:10px 0;}
.sub_nav a{font-size:1.2rem;}
.sub_nav a:hover{color:#007dc6;}
.nav_link{}
.nav_link .customer{float:left;font-size:1.4rem;padding-top:10px;}
.nav_link .sns{float:right;padding-top:10px;}
.nav_link .sns a{display:inline-block;width:40px;margin-left:10px;}
.nav_link .sns img{width:100%;}

.main_section{}
.main_section .container{padding:0;}
.main_slider picture img{width:100%;}
.main_slider .swiper-button-prev,.main_slider .swiper-button-next{display:none;}
.main_slider .swiper-pagination{bottom:10%;}
.main_slider .swiper-pagination-bullets .swiper-pagination-bullet{width:18%;height:3px;margin:0;border-radius:0;}
.main_slider .swiper-pagination-bullet-active{background:#000;}

.papers_section{}
.papers_section .container{padding:0;}
.papers_section .swiper-slide{overflow:hidden;}
.papers_slider .papers_slide{position:relative;height:1000px;}
.papers_slide .papers_tit{position:absolute;left:0;top:0;z-index:2;padding:85px 0 0 20px;}
.papers_tit h2{font-weight:700;font-size:2.6rem;line-height:3rem;}
.papers_slide .papers_txt{padding-left:20px;position:absolute;left:0;bottom:0;z-index:2;}
.papers_txt button{width:180px;display:flex;justify-content:space-between;align-items:center;padding:6px 14px;border:none;background:#000;;font-size:1.2rem;color:#fff;text-align:left;}
/* .papers_txt button img{화살표} */
.papers_txt h3{padding:20px 0;font-size:1rem;color:#333;line-height:1.5rem;}
.papers_txt p{font-size:.8rem;color:#666;}
.papers_slide .papers_img{height:700px;overflow:hidden;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);z-index:1;}
.papers_slider .swiper-button-prev{left:3%;}
.papers_slider .swiper-button-next{right:3%;}
.papers_slider .swiper-button-prev::after,.swiper-button-next::after{font-size:5rem;color:#ccc;}
.papers_slider .swiper-pagination{width:80%;height:2px;margin:0 10%;background:#aaa;bottom:20%;}
/* .papers_slider .swiper-pagination-bullets .swiper-pagination-bullet{width:8px;height: 8px;display: inline-block;border-radius: 100%;}
.papers_slider .swiper-pagination-bullet-active{background:#007dc6;} */

.info_section{}
.together{height:150px;position:relative;}
.together strong{font-weight:900;font-size:5rem;color:#eee;position:absolute;left:-30px;}
.together h4{position:absolute;left:0;top:8px;font-weight:900;font-size:2.5rem;line-height:4rem;}
.info_section .line{height:1px;background:#aaa;margin:30px 0;}
.info_content h2{font-weight:700;margin-bottom:10px;display:flex;justify-content:space-between;}
.info_content h2::after{content:'';display:block;width:2rem;background:url('../images/circle_arrow.png') no-repeat;background-size:contain;}
.info_content p{color:#333;}

.footer{background:#eee;padding:30px 0;}
.footer .container{height:150px;display:flex;flex-flow:row wrap;justify-content:space-between;align-items:center;}
.foot_logo{width:120px;}
.foot_logo img{width:100%;}
.per_info h5{font-weight:700;font-size:1rem;}
.family_site{width:100%;text-align:center;}
.family_site select{width:100%;display:inline-block;padding:8px;}
.address address{font-style:normal;font-size:1rem;line-height:1.3rem;}


@media(min-width:640px){
  .papers_slide .papers_tit{padding:65px 0 0 20px;}
  .papers_tit h2{font-size:3em;line-height:4rem;}
  .papers_txt button{}
  .papers_txt h3{line-height:1.7rem;}
  .papers_txt p{font-size:1rem;}
}


/* ===================테블릿 스타일====================== */
@media(min-width:768px){
  .header::before{content:'';display:block;width:100%;height:88px;background:#fff;position:absolute;left:0;top:0;z-index:9;}
  .header::before{display:none;}
  .header .container{display:flex;justify-content:space-between;}
  .tgl_btn{display:none;}
  .nav{position:static;overflow:hidden;padding:0;background-color:transparent;}
  .lang,.nav_link,.main_nav>li>a::before,.main_nav>li>a::after{display:none;}
  .main_nav{margin:5px 0 0 0;border-bottom:none;display:flex;justify-content:flex-end;}
  .main_nav>li{margin:0 0 0 20px;}
  .main_nav>li>a{font-size:1.2rem;}
  .main_nav>li>a.active{color:#000;}
  .sub_nav{width:61%;padding:0;position:absolute;top:100%;}
  .sub_nav li{margin:14px 10px;display:inline-block;}
  .sub_nav a{font-size:1rem;}
  /* section */
  .main_section{margin-top:140px;}
  .papers_section{}
  .papers_slider .swiper-pagination{bottom:28%;display:block;}
  .papers_slide .papers_tit{padding:60px 0 0 20px;}
  .papers_tit h2{font-size:3.8rem;line-height:4.2rem;}
  .papers_slide .papers_txt{bottom:0;}

  .info_section{}
  .together{height:160px;}
  .together strong{font-size:8rem;}
  .together h4{font-size:4rem;line-height:5rem;}
}
@media(min-width:960px){
  .nav{display:flex;justify-content:flex-end;align-items:center;}
  .nav_link{display:block;margin-left:3rem;}
  .nav_link .customer{font-size:1rem;padding-top:5px;}
  .nav_link .sns{padding-top:2px;}
  .nav_link .sns a{width:30px;}

  .main_section{}
  .main_slider .swiper-slide{height:600px;display:flex;justify-content:center;align-items:center;overflow:hidden;}
  .main_slider picture img{width:auto;height:700px;}
  .main_slider .swiper-button-prev,.main_slider .swiper-button-next{display:block;color:#ccc;}
  .main_slider .swiper-button-prev{left:3%;}
  .main_slider .swiper-button-next{right:3%;}
  .main_slider .swiper-button-prev::after,.swiper-button-next::after{font-size:3rem;}
  
  .together strong{font-size:12rem;left:-40px;}

  .info_content{position:relative;}
  .info_content p{position:absolute;left:30%;top:-10px;width:50%;}

  .footer .container{height:44px;}
  .foot_logo{order:1;}
  .address{order:2;width:50%;}
  .per_info{order:3;width:15%;}
  .family_site{order:4;width:15%;}
  
}




/* ========================피시 스타일====================== */
@media(min-width:1280px){
  .container{width:80%;}
  /* .skip_menu{display:block;} */
  .lang{display:block;margin:0 0 0 16px;border:none;padding:0;order:3;}
  .lang a{padding-right:20px;font-weight:600;font-size:18px;color:#aaa;}
  .lang a:first-child{display:none;}
  .lang a:last-child{display:block;width:30px;height:30px;margin-top:6px;padding:0;border-radius:15px;background:#888;font-size:0.8rem;text-align:center;line-height:30px;color:#fff;}
  .main_nav{order:1;}
  .sub_nav{transition:.3s;}
  /* .main_nav li::before{content:'';display:block;width:70%;height:50px;position:absolute;left:0;top:30%;} */
  .main_nav li:hover .sub_nav{display:block !important;}
  .nav_link{order:2;}

  .main_section .container{width:100%;}
  .info_section{}
  .together{height:250px;}
  .together strong{}
  .together h4{font-size:6rem;line-height:7rem;}

  .foot{}
  .foot_logo img{opacity:.8;}
}